.overflow {
    height: 50%;
    overflow: hidden;
    
}

.overflow img {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow img:hover {
    transform: scale(1.3);
}

.linkCategory{
    text-decoration: none;
    color: black;
}

.linkCategory:hover {
    color: black;
}

.shadow_card:hover {
    box-shadow: 5px 10px 20px 1px gray;
    transition: all 0.2s;
}